In [87]:
import pandas as pd

url_2020 = 'https://www.pro-football-reference.com/years/2020/fantasy.htm#fantasy'

def clean_data(url):
    dfs = pd.read_html(url, header=1)
    df_holder = dfs[0]
    df_holder = df_holder[df_holder.Rk != "Rk"]
    df_holder = df_holder[["Player","Age","G","Tm","FantPos","FantPt","PosRank","OvRank"]]
    df_holder = df_holder[["Age","G","FantPt","PosRank","OvRank"]].apply(pd.to_numeric)
    #df_holder["Player"] = df_holder["Player"].str.replace(' +*','', regex = False)
    #df_holder["Player"] = df_holder["Player"].str.replace(' *','', regex = False)
    #df_holder["Player"] = df_holder["Player"].str.replace(' +','', regex = False)
    #df_holder["Player"] = df_holder["Player"].str.replace('*','', regex = False)
    #df_holder["Player"] = df_holder["Player"].str.replace('+','', regex = False)
    return df_holder

In [88]:
clean_data(url_2020)
df_holder

NameError: name 'df_holder' is not defined

In [77]:
df_2020_rb = df_2020[df_2020.FantPos == "RB"]
df_2020_rb = df_2020_rb.head(36)

In [78]:
df_2020_rb.describe()

             Age          G      FantPt    PosRank     OvRank
count  36.000000  36.000000   36.000000  36.000000  24.000000
mean   24.972222  14.222222  162.222222  18.500000  35.708333
std     2.833333   1.675216   53.071440  10.535654  22.586027
min    21.000000  10.000000  111.000000   1.000000   1.000000
25%    23.000000  13.000000  122.000000   9.750000  17.250000
50%    25.000000  15.000000  147.500000  18.500000  35.500000
75%    26.000000  15.000000  183.750000  27.250000  54.500000
max    35.000000  16.000000  314.000000  36.000000  77.000000